<div class="product-item">
    <div class="picture">
        <img ng-src="{{itemPicture}}" src="/content/image/product/product_not_found_thumb.png">
        <div class="overlay"></div>
        <div class="preview" ng-click="onPreview()">
            <i class="fa fa-eye"></i>
        </div>
    </div>
    <div class="desc">
        <div class="name">{{itemName}}</div>
        <div class="inline-middle-between-flex">
            <div class="price"><span style="color: #aaaaaa;">$</span>{{itemPrice}}</div>
            <button class="add-to-cart" ng-click="onAddToCart()">add to cart</button>
        </div>
    </div>
</div>
