.site-footer
{
    background-color: #3c5569;
    width: 100%;
    padding: 25px 0;
}

.site-footer .links
{
    margin-bottom: 10px;
}

.site-footer .link
{
    text-transform: uppercase;
    color: #ffffff;
}

.site-footer .delimiter
{
    padding: 0 10px;
    color: #637787;
}

.site-footer .line
{
    flex-grow: 1;
    height: 1px;
    background-color: #80909d;
}

.site-footer .social-buttons .item
{
    margin: 10px;
    padding: 7px;
    border-radius: 50%;
    border: #80909d 1px solid;
    width: 36px;
    height: 36px;
    font-size: 21px;
    text-align: center;
    color: #80909d;
}

.site-footer .social-buttons .item:first-child
{
    margin-left: 20px;
}
.site-footer .social-buttons .item:last-child
{
    margin-right: 20px;
}

.site-footer .social-buttons .item:hover
{
    color: #ffffff;
    border-color: #ffffff;

}
