<div class="site-navigation">
    <div class="inline-middle-between-flex" style="margin-bottom: 15px;">
        <div class="site-logo inline-middle-between-flex">
            <img src="/content/image/logo/logo-purple.png">
            <div style="margin-left: 10px; font-size: 25px;">Lucky Store</div>
        </div>
        <div class="inline-middle-between-flex">
            <div style="color: #aaaaaa; margin-right: 20px;">
                <a class="sign-in-up-label pointer" ng-click="onSignIn()">Sign In</a>
                or
                <a class="sign-in-up-label pointer" ng-click="onSignUp()">Sign Up</a>
            </div>
            <div class="input-group-btn-right shopping-cart">
                <div class="input inline-middle-left-flex">
                    <i class="icon icon-shopping-cart" style="color: #808080; margin: 0 10px;"></i>
                    <span>
                        <span style="color: #ef8742; font-weight: 600;">3 Items</span>
                        <span style="color: #808080;">in your cart</span>
                    </span>
                </div>
                <button class="button">
                    <i class="icon icon-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="menu inline-middle-left-flex">
        <button class="item" ng-repeat="i in items" ng-attr-ui-sref="{{i.sref}}">
            <span>
                {{i.name}}
                <span ng-if="(i.items)&&(i.items.length > 0)" class="caret" style="margin-top: -1px; color: #c4b4e5;"></span>
            </span>
        </button>

        <div class="search-box">
            <div class="input-group-btn-right">
                <input class="input" placeholder="Search...">
                <button class="button" style="">
                    <i class="icon icon-search"></i>
                </button>
            </div>
        </div>
    </div>
</div>
